#main-header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: $cl-white;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.logo-box{
	float: left;
	padding: 15px 0 14px;
	@include max-screen( 768px ){
		position: relative;
		z-index: 2;
	}
}