#main-footer{
	background: $cl-white;
	border-top: 1px solid #d5d5d5;
	padding: 20px 0 6px;
	position: relative;
}

.copyright{
	@include max-screen( 600px ){
		float: none;
		margin: 0 0 20px;
	}
	color: $cl-gray;
	float: left;
	margin: 0;
	a{
		color: inherit;
	}		
}
