@mixin round-btn($w,$h,$color) {
  border-radius: 3px;
  width: $w;
  height: $h;
  line-height: $h;
  background-color: $color;
  text-align: center;
}

@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }

  &:after {

    clear: both;
  }
}