@import "setup", "mixin-module", "extend-module";



.l-contact {
  @extend .mod-center-2;
  padding-top: 5px;
  .btn {
    width: 240px;
    height: 48px;
    line-height: 48px;
    border-style: none;
    font-size: 18px;
    margin: 0 auto;
  }
  a.btn {
    margin-top: 40px;
  }
  iframe {
    display: none;
  }
}
.red {
  color: $red;
}
table {
  margin: 0 auto;
}
th {
  font-weight: normal;
  text-align: left;
  padding: 10px 40px 10px 0px;
  vertical-align: top;
  line-height: 30px;
  text-align: right;
}
td {
  width: 480px;
  padding: 5px 0;
  p {
    text-align: center;
    margin: 20px 0;
  }
}
input[type=text] {
  width: 480px;
  height: 30px;
  border: 2px solid #ccc;
}
textarea {
  width: 480px;
  border: 2px solid #ccc;
  height: 120px;
}
input.invalid {
  border-color: $red;
}
textarea.invalid {
  border-color: $red;
}
label.invalid {
  font-size: 12px;
  color: $red;
}