@charset "UTF-8";
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "游ゴシック","YuGothic","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro","ＭＳ ゴシック",sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #232323;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.container.container-small {
  max-width: 820px;
}

.row.rm-m {
  margin-left: 0;
  margin-right: 0;
}

.rm-pd {
  padding-left: 0;
  padding-right: 0;
}

.d-n {
  display: none;
}

.fix-w {
  width: 100%;
  max-width: 454px;
  margin: 0 auto;
}

.table-row {
  display: table-row;
}

a {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .framgia-section {
    margin-top: -60px;
  }
}

.area-title {
  text-align: center;
  margin: 0 0 21px;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .area-title {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 11px;
  }
}

.description {
  font-size: 16px;
  line-height: 22px;
  color: #454545;
  display: block;
  margin: 0 0 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .description {
    margin: 0 0 32px;
  }
}

.rs-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.logo-box {
  float: left;
  padding: 15px 0 14px;
}

@media screen and (max-width: 768px) {
  .logo-box {
    position: relative;
    z-index: 2;
  }
}

.main-nav-box {
  float: right;
}

@media screen and (max-width: 767px) {
  .main-nav-box {
    float: none;
  }
}

.main-nav-box .navbar-default {
  border: 0;
  background: none;
}

.navbar-default.main-nav {
  margin: 0;
}

.navbar-default.main-nav .navbar-toggle {
  border-color: #000000;
  margin: 18px 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
}

.navbar-default.main-nav .navbar-toggle span {
  background: #000000;
}

.navbar-default.main-nav .navbar-toggle:focus, .navbar-default.main-nav .navbar-toggle:hover {
  background: none;
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav {
    margin-bottom: 23px;
  }
}

.navbar-default.main-nav .navbar-nav li {
  padding: 0;
  margin: 0 8px;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

@media screen and (max-width: 830px) {
  .navbar-default.main-nav .navbar-nav li {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav li {
    border: 0;
  }
}

.navbar-default.main-nav .navbar-nav li.contact-btn {
  padding: 15px 0 11px 16px;
  border-color: transparent;
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav li.contact-btn {
    padding: 0;
    border: 0;
  }
}

.navbar-default.main-nav .navbar-nav li.contact-btn a {
  padding: 11px 10px;
  letter-spacing: 2.5px;
  color: #ffffff;
  background: #c63b32;
  box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  border: 0;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.navbar-default.main-nav .navbar-nav li.contact-btn a:hover {
  background: #F84322;
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav li.contact-btn a.current {
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav li.contact-btn a:hover {
    color: #ffffff;
  }
}

.navbar-default.main-nav .navbar-nav li a {
  font-size: 14px;
  line-height: 18px;
  color: #111c2a;
  padding: 26px 10px 22px;
  border-bottom: 4px solid transparent;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default.main-nav .navbar-nav li a.current, .navbar-default.main-nav .navbar-nav li a:hover {
  border-color: #c63b32;
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav li a.current, .navbar-default.main-nav .navbar-nav li a:hover {
    color: #c63b32;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default.main-nav .navbar-nav li a {
    padding: 11px 10px;
    border: 0;
  }
}

.home-box-area {
  padding: 70px 0 0;
}

.home-box-area .banner-box-content {
  background: url(images/banner.jpg) no-repeat top left;
  background-size: contain;
  background-attachment: fixed;
  text-align: center;
  padding: 148px 0 160px;
  position: relative;
  transition: padding 0.3s ease 0s;
  -moz-transition: padding 0.3s ease 0s;
  -webkit-transition: padding 0.3s ease 0s;
  -ms-transition: padding 0.3s ease 0s;
}

@media screen and (max-width: 1300px) {
  .home-box-area .banner-box-content {
    padding: 127px 0 120px;
  }
}

@media screen and (max-width: 1170px) {
  .home-box-area .banner-box-content {
    padding: 80px 0 75px;
  }
}

@media screen and (max-width: 992px) {
  .home-box-area .banner-box-content {
    background-size: inherit;
    background-position: top center;
  }
}

.home-box-area .banner-box-content:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
}

.home-box-area .banner-box-content .container {
  position: relative;
}

.home-box-area .title {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .home-box-area .title {
    font-size: 45px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .home-box-area .title {
    font-size: 32px;
    line-height: 37px;
  }
}

.home-box-area .contact-us {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #c63b32;
  display: inline-block;
  letter-spacing: 3px;
  padding: 13px 29px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.home-box-area .contact-us:hover {
  background: #F84322;
}

@media screen and (max-width: 768px) {
  .home-box-area .contact-us {
    font-size: 13px;
    line-height: 18px;
    padding: 13px 18px;
  }
}

.about-box-area {
  margin: -20px 0 0;
}

.about-box-area .about-box-content {
  padding: 90px 0 17px;
}

@media screen and (max-width: 768px) {
  .about-box-area .area-title {
    margin: 0 0 28px;
  }
}

.about-box-area p {
  color: #454545;
}

.work-box-area .work-box-content {
  padding: 90px 0 27px;
}

@media screen and (max-width: 768px) {
  .work-box-area .work-box-content {
    padding: 90px 0 32px;
  }
}

.work-box-area .work-box-content .area-title {
  margin: 0 0 71px;
}

@media screen and (max-width: 768px) {
  .work-box-area .work-box-content .area-title {
    margin: 0 0 33px;
  }
}

@media screen and (min-width: 993px) {
  .work-box-area .wrap-entry-item {
    display: table;
  }
}

.work-box-area .wrap-entry-item > .rm-pd {
  float: none;
  vertical-align: top;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

@media screen and (min-width: 993px) {
  .work-box-area .wrap-entry-item > .rm-pd {
    display: table-cell;
  }
}

.work-box-area .wrap-entry-item > .rm-pd.rm-bd {
  border: 0;
}

.work-box-area .wrap-entry-item > .rm-pd.col-small {
  background: url(images/men-1.jpg) center no-repeat;
  background-size: cover;
  height: 600px;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

@media screen and (min-width: 1200px) {
  .work-box-area .wrap-entry-item > .rm-pd.col-small {
    width: 31.25%;
  }
}

@media screen and (max-width: 530px) {
  .work-box-area .wrap-entry-item > .rm-pd.col-small {
    height: 400px;
  }
}

.work-box-area .wrap-entry-item > .rm-pd.col-big {
  position: relative;
}

.work-box-area .wrap-entry-item > .rm-pd.col-big:before {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: #d5d5d5;
}

@media screen and (max-width: 768px) {
  .work-box-area .wrap-entry-item > .rm-pd.col-big:before {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-box-area .wrap-entry-item > .rm-pd.col-big {
    width: 68.75%;
  }
}

.work-box-area .entry-title {
  font-size: 18px;
  line-height: 24px;
  padding: 2px 0 6px 60px;
  margin: 0 0 9px;
  background-position: top left;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.work-box-area .entry-title.icon-pc {
  background-image: url(images/fixed/icon-pc.png);
}

.work-box-area .entry-title.icon-ruby {
  background-image: url(images/fixed/icon-ruby.png);
}

.work-box-area .entry-title.icon-code {
  background-image: url(images/fixed/icon-code.png);
}

.work-box-area .entry-title.icon-training {
  background-image: url(images/fixed/icon-training.png);
}

@media screen and (max-width: 768px) {
  .work-box-area .entry-title {
    padding: 2px 0 6px 45px;
  }
}

.work-box-area .table-row:first-child .entry-item:first-child:before {
  display: none;
}

.work-box-area .table-row:first-child .entry-item:before {
  display: none;
}

@media screen and (max-width: 768px) {
  .work-box-area .table-row:first-child .entry-item:before {
    display: block;
  }
}

.work-box-area .entry-item {
  padding: 54px 60px 0;
  width: 50%;
  position: relative;
  overflow: hidden;
  display: table-cell;
}

@media screen and (max-width: 1280px) {
  .work-box-area .entry-item {
    padding: 35px 29px 0;
  }
}

@media screen and (max-width: 768px) {
  .work-box-area .entry-item {
    width: 100%;
    display: block;
    padding: 35px 15px 0;
  }
}

.work-box-area .entry-item:before {
  content: '';
  display: block;
  height: 1px;
  background: #d5d5d5;
  max-width: 330px;
  position: absolute;
  left: 110px;
  right: 10px;
  top: 0;
}

@media screen and (max-width: 1280px) {
  .work-box-area .entry-item:before {
    left: 89px;
  }
}

.work-box-area .entry-item .entry-box {
  padding: 0 0 30px 60px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .work-box-area .entry-item .entry-box {
    padding: 0 0 30px 45px;
  }
}

.work-box-area .entry-item p {
  line-height: 25px;
  margin: 0;
  color: #454545;
}

.office-box-area .office-box-content {
  padding: 90px 0 70px;
}

@media screen and (max-width: 768px) {
  .office-box-area .office-box-content {
    padding: 90px 0 33px;
  }
}

.office-box-area .area-title {
  margin: 0 0 61px;
}

@media screen and (max-width: 768px) {
  .office-box-area .area-title {
    margin: 0 0 33px;
  }
}

@media screen and (min-width: 993px) {
  .office-box-area .table-row {
    display: table;
  }
}

@media screen and (min-width: 993px) {
  .office-box-area .table-row > div {
    display: table-cell;
  }
}

@media screen and (max-width: 992px) {
  .office-box-area .entry-item {
    padding: 30px 30px 25px;
  }
}

@media screen and (max-width: 768px) {
  .office-box-area .entry-item {
    padding: 25px 15px 20px;
  }
}

.office-box-area .entry-thumb {
  width: 26.5%;
  min-height: 1px;
  background: url(images/men-2.jpg) no-repeat top center;
  background-size: 100% auto;
}

@media screen and (max-width: 992px) {
  .office-box-area .entry-thumb {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .office-box-area .entry-thumb {
    width: 200px;
    height: 200px;
  }
}

.office-box-area .entry-box {
  width: 73.5%;
  min-height: 1px;
  padding: 0 60px 25px;
}

@media screen and (max-width: 1200px) {
  .office-box-area .entry-box {
    padding: 25px 30px;
  }
}

@media screen and (max-width: 992px) {
  .office-box-area .entry-box {
    width: 100%;
    padding: 25px 0 0;
  }
}

.office-box-area .entry-box p {
  color: #454545;
  margin: -7px 0 7px;
}

.office-box-area .entry-box .message-meta {
  display: block;
  text-align: right;
  font-size: 16px;
  margin: 0 -7.5px;
}

@media screen and (max-width: 530px) {
  .office-box-area .entry-box .message-meta {
    margin: 0;
  }
}

.office-box-area .entry-box .message-meta span {
  font-size: 16px;
  line-height: 24px;
  padding: 0 7.5px;
}

@media screen and (max-width: 530px) {
  .office-box-area .entry-box .message-meta span {
    display: block;
    padding: 0;
    margin: 10px 0 0;
  }
}

.office-box-area .entry-box .ceo-signature {
  float: right;
  text-align: center;
  width: 100%;
  max-width: 380px;
  padding: 13px 0;
}

@media screen and (max-width: 530px) {
  .office-box-area .entry-box .ceo-signature {
    text-align: right;
    padding: 0;
  }
  .office-box-area .entry-box .ceo-signature img {
    max-width: 115px;
  }
}

.job-box-area .area-title {
  margin: 0 0 61px;
}

@media screen and (max-width: 768px) {
  .job-box-area .area-title {
    margin: 0 0 33px;
  }
}

.job-box-area .job-box-content {
  padding: 90px 0 33px;
}

@media screen and (max-width: 768px) {
  .job-box-area .job-box-content {
    padding: 90px 0 33px;
  }
}

.framgia-accordion .panel-group {
  margin: 0;
}

.framgia-accordion .panel {
  border-color: #d5d5d5;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}

.framgia-accordion .panel + .panel {
  margin: 0;
  border-top: 0;
}

.framgia-accordion .panel-heading {
  border: 0;
  padding: 0 30px;
  background: none;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-heading {
    padding: 0 15px;
  }
}

.framgia-accordion .panel-heading + .panel-collapse .panel-body {
  border: 0;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-heading + .panel-collapse .panel-body {
    padding: 0 15px;
  }
}

.framgia-accordion .panel-heading + .panel-collapse .panel-body .inner {
  border-top: 1px solid #d5d5d5;
}

.framgia-accordion .panel-title {
  font-size: 18px;
  line-height: 31px;
  color: #232323;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-title {
    font-size: 15px;
    line-height: 20px;
  }
}

.framgia-accordion .panel-title a {
  padding: 26px 0 21px;
  display: block;
  position: relative;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-title a {
    padding: 13px 0 11px;
  }
}

.framgia-accordion .panel-title a.collapsed .b-collapse .inner:before {
  display: block;
}

.framgia-accordion .panel-title a.collapsed .b-collapse .inner:after {
  display: block;
}

.framgia-accordion .panel-title .tab-title {
  display: block;
  padding-right: 40px;
}

.framgia-accordion .panel-title .b-collapse {
  position: absolute;
  float: right;
  right: 0;
  top: 31px;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-title .b-collapse {
    top: 16px;
  }
}

.framgia-accordion .panel-title .b-collapse .inner {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-title .b-collapse .inner {
    width: 13px;
    height: 13px;
  }
}

.framgia-accordion .panel-title .b-collapse .inner:before, .framgia-accordion .panel-title .b-collapse .inner:after {
  content: '';
  position: absolute;
  background: #454545;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.framgia-accordion .panel-title .b-collapse .inner:before {
  display: block;
  height: 4px;
  top: 8px;
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-title .b-collapse .inner:before {
    top: 5px;
    height: 3px;
  }
}

.framgia-accordion .panel-title .b-collapse .inner:after {
  display: none;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 4px;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-title .b-collapse .inner:after {
    width: 3px;
  }
}

.framgia-accordion .panel-body .entry-item {
  width: 100%;
  padding: 25px 15px 28px 0;
  display: table;
  background: url(images/fixed/line-accordion.png) repeat-x left bottom;
}

@media screen and (max-width: 600px) {
  .framgia-accordion .panel-body .entry-item {
    display: block;
  }
}

.framgia-accordion .panel-body .entry-title {
  display: table-cell;
  width: 29.75%;
  font-size: 18px;
  line-height: 25px;
  color: #454545;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-body .entry-title {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .framgia-accordion .panel-body .entry-title {
    display: block;
    width: 100%;
    margin: 0 0 15px;
  }
}

.framgia-accordion .panel-body .details {
  font-size: 16px;
  line-height: 25px;
  color: #454545;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.framgia-accordion .panel-footer {
  text-align: center;
  padding: 30px 0 36px;
  background: none;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-footer {
    padding: 20px 0;
  }
}

.framgia-accordion .panel-footer a {
  font-size: 18px;
  padding: 14px 28px;
  letter-spacing: 2.5px;
  color: #ffffff;
  background: #c63b32;
  box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.framgia-accordion .panel-footer a:hover {
  background: #F84322;
}

@media screen and (max-width: 768px) {
  .framgia-accordion .panel-footer a {
    font-size: 13px;
    line-height: 18px;
    padding: 13px 18px;
  }
}

.contact-us-box-area .area-title {
  margin: 0 0 61px;
}

@media screen and (max-width: 768px) {
  .contact-us-box-area .area-title {
    margin: 0 0 33px;
  }
}

.contact-us-box-area .office-box-content {
  padding: 90px 0 60px;
}

.map-wrapper {
  margin: 0 0 50px;
}

.map-wrapper .framgia-map {
  height: 400px;
}

@media screen and (max-width: 768px) {
  .map-wrapper .framgia-map {
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .map-wrapper .framgia-map {
    height: 250px;
  }
}

.contact-box {
  max-width: 535px;
}

.contact-box .company-name {
  font-size: 24px;
  line-height: 30px;
  color: #232323;
  margin: 0 0 13px;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.contact-box .company-description {
  font-size: 16px;
  line-height: 30px;
  color: #232323;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-box .contact-details {
  padding: 21px 0 0;
}

.contact-box .contact-details p {
  margin: 0 0 20px;
  display: block;
}

.contact-box .contact-details p:after, .contact-box .contact-details p:before {
  display: table;
  content: "";
}

.contact-box .contact-details p:after {
  clear: both;
}

.contact-box .contact-icon {
  display: block;
  width: 30px;
  float: left;
}

.contact-box .contact-icon .fa-mobile-phone {
  font-size: 23px;
}

.contact-box .contact-text {
  overflow: hidden;
  color: #454545;
  display: block;
}

.contact-box .contact-text span {
  display: inherit;
}

.contact-box .contact-text span.note {
  margin: 10px 0 0;
}

.contact-box a.contact-text {
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.contact-box a.contact-text:hover {
  color: #F84322;
}

.contact-form input, .contact-form select, .contact-form textarea, .contact-form .wrap-input-file {
  font-size: 18px;
  line-height: 25px;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  color: #454545;
  border: 1px solid #d5d5d5;
  transition: border 0.3s ease 0;
}

.contact-form input.error, .contact-form select.error, .contact-form textarea.error, .contact-form .error.wrap-input-file {
  margin: 0 0 5px;
}

.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus, .contact-form .wrap-input-file:focus {
  outline: 0;
  border-color: #000000;
}

.contact-form {
  padding: 5px 0 0;
}

.contact-form ::-webkit-input-placeholder {
  color: #454545;
}

.contact-form :-moz-placeholder {
  color: #454545;
}

.contact-form ::-moz-placeholder {
  color: #454545;
}

.contact-form :-ms-input-placeholder {
  color: #454545;
}

.contact-form input {
  padding: 10px 20px;
  height: 50px;
}

.contact-form .wrap-select {
  position: relative;
}

.contact-form .wrap-select:before {
  content: '';
  display: block;
  position: absolute;
  right: 15px;
  top: 22px;
  width: 0px;
  height: 0px;
  pointer-events: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 9px solid #2f2f2f;
}

.contact-form select {
  padding: 10px 45px 10px 20px;
  height: 50px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.contact-form textarea {
  padding: 10px 20px;
  height: 120px;
}

.contact-form label.error {
  display: block;
  margin: 0 0 15px;
  color: #000000;
}

.contact-form .wrap-input-file {
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  height: 50px;
  cursor: pointer;
}

.contact-form .wrap-input-file:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background: url(images/fixed/icon-upload-file.png) center no-repeat #9d9d9d;
  cursor: pointer;
}

.contact-form .wrap-input-file input {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 1px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.contact-form .submit {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2.5px;
  color: #ffffff;
  background: #c63b32;
  border: 0;
  min-width: 200px;
  padding: 17px 10px 15px;
  box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  position: relative;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.contact-form .submit:hover {
  background: #F84322;
}

@media screen and (max-width: 768px) {
  .contact-form .submit {
    font-size: 13px;
    line-height: 18px;
    padding: 13px 18px;
    min-width: 150px;
  }
}

.contact-form .submit:active {
  top: 2px;
}

.framgia-modal.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .framgia-modal.modal {
    padding-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  .framgia-modal.modal {
    padding-top: 200px;
  }
}

.framgia-modal.modal .modal-success, .framgia-modal.modal .modal-error {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .framgia-modal.modal .modal-dialog {
    width: 915px;
  }
}

.framgia-modal.modal .modal-content {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}

.framgia-modal.modal .modal-header {
  border: 0;
  background: #eeeeee;
}

@media screen and (min-width: 768px) {
  .framgia-modal.modal .modal-header {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 600px) {
  .framgia-modal.modal .modal-header {
    padding: 10px 15px;
  }
}

.framgia-modal.modal .modal-title {
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #232323;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .framgia-modal.modal .modal-title {
    font-size: 25px;
    line-height: 30px;
  }
}

.framgia-modal.modal .modal-body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  .framgia-modal.modal .modal-body {
    margin: 0 0 52px;
  }
}

@media screen and (max-width: 600px) {
  .framgia-modal.modal .modal-body {
    padding: 10px 15px;
  }
}

.framgia-modal.modal .modal-body .modal-mes {
  margin: 0 0 10px;
}

@media screen and (max-width: 600px) {
  .framgia-modal.modal .modal-body .modal-mes {
    margin: 0;
  }
}

.framgia-modal.modal span.bold {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #232323;
  margin: 16px 0 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .framgia-modal.modal span.bold {
    margin: 26px 0 24px;
  }
}

@media screen and (max-width: 600px) {
  .framgia-modal.modal span.bold {
    margin: 9px 0 14px;
  }
}

.framgia-modal.modal .modal-footer {
  text-align: center;
  border: 0;
  padding: 15px;
}

.framgia-modal.modal .modal-footer button {
  font-size: 13px;
  line-height: 18px;
  padding: 13px 18px;
  min-width: 150px;
  letter-spacing: 2.5px;
  color: #ffffff;
  background: #c63b32;
  box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0.5px 0.866px 5px 0px rgba(0, 0, 0, 0.23);
  border: 0;
  margin: 0 auto 10px;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.framgia-modal.modal .modal-footer button:hover {
  background: #F84322;
}

@media screen and (min-width: 768px) {
  .framgia-modal.modal .modal-footer button {
    margin: 0 auto 39px;
    line-height: 24px;
    padding: 13px 10px;
    min-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .framgia-modal.modal .modal-footer button {
    padding: 10px 15px;
  }
}

.framgia-modal.modal .modal-mes {
  display: block;
}

#employer-modal.error .modal-success {
  display: none;
}

#employer-modal.success .modal-error {
  display: none;
}

.back-top {
  opacity: 0;
  visibility: hidden;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: #c63b32;
  color: #ffffff;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -ms-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -webkit-transition: all 0.3s ease 0s, visibility 0s ease 0s;
  -moz-transition: all 0.3s ease 0s, visibility 0s ease 0s;
}

.back-top:hover {
  background: #F84322;
}

@media screen and (max-width: 768px) {
  .back-top {
    width: 35px;
    height: 35px;
    line-height: 35px;
    right: 15px;
    bottom: 5px;
  }
}

.back-top.fadeIn {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}

@media screen and (max-width: 768px) {
  .back-top.fadeIn {
    bottom: 15px;
  }
}

#main-footer {
  background: #ffffff;
  border-top: 1px solid #d5d5d5;
  padding: 20px 0 6px;
  position: relative;
}

.copyright {
  color: #454545;
  float: left;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .copyright {
    float: none;
    margin: 0 0 20px;
  }
}

.copyright a {
  color: inherit;
}
